---

import BaseLayout from '../layouts/BaseLayout.astro';
import Work from '../components/Work.astro';
import '../styles/global.css';

const allWork= Object.values(import.meta.glob('./work/*.md', { eager: true }));

const pageTitle = "Work";

---

<BaseLayout pageTitle={pageTitle}>
	<section class="container">
	<h2>For more than 12 years, I’ve been helping brands and teams craft thoughtful, high-quality digital products. I collaborate closely with developers and in-house teams to make sure every project comes to life exactly as intended.</h2>
	<ul class="work-list">
		{allWork.map((work: any) => <Work client={work.frontmatter.client} year={work.frontmatter.year} image={work.frontmatter.image} description={work.frontmatter.description} background={work.frontmatter.background} link={work.frontmatter.link} linkText={work.frontmatter.linkText} />)}
	</ul>
</section>
</BaseLayout>
