---
const { title, url, image, description } = Astro.props;

---
<li id="work" class="work-post"><img src={image.url} width="auto" alt={image.alt} /><h4>{title}</h4><p>{description}</p><a href={url}>View Figma file</a></></li>